<IfModule mod_rewrite.c>
    Options -Multiviews

    RewriteEngine On
    #RewriteRule ^$ public/ [L]
    #RewriteRule (.*) public/$1 [L]
    #RewriteBase upload/public/ [L]

    RewriteRule ^$ public/ [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]

    #RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} \.php$
    #RewriteRule !^index.php index.php [L,NC]
</IfModule>